#name{
    font-weight:bold;
    text-transform: uppercase;
}
#tophat{
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#wave{
  display: inline-block;
  animation: rotation 2s infinite linear;

  @keyframes rotation {
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }
}
.emoji{
    font-size:4rem;
    &-slant{
      font-size:4rem;
      transform: rotate(-30deg);
  }
}
.section-wrapper {
  margin-top: -3%;
  padding: 5% 20px;
  
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
}
.inner-wrapper {
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  transform: skewY(3deg);
}